.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .time-display {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 40px;
  }
  
  .date-picker-container {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
  }
  
  .banner-image {
    margin-left: 20px;
    max-width: 100%;
    height: auto;
  }